function-app.zip

bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual Studio Code (see https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore)

*.code-workspace
.history/

# Other
.DS_Store
.vscode

/test/local

# Jest reports
junit.xml
test-report.html
